/* 三级导航开始 */
#Category {
    border-bottom: 1px solid #DCDEE3;
    height: 40px;
}
#Category .rw-lst-header-nav-header {
    width: 240px;
    height: 40px;
    background: red;
    border-radius: 6px 6px 0px 0px;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.4);
}
#Category .rw-lst-header-nav-header-text {
    font-size: 18px;
    line-height: 40px;
    color: #fff;
}
#Category .rw-lst-header-nav-fixed-header {
    height: 409px;
    width: 240px;
    background: red;
    margin-top: 1px;
    z-index: 999;
    display: none;
}
#Category .rw-lst-header-nav-first {
    padding: 5px 0px 5px 10px;
}
#Category .first-item {
    width: 210px;
    height: 40px;
    padding-left: 20px;
    line-height: 40px;
    color: #fff;
}
#Category .first-item:hover {
    border-radius: 20px 0px 0px 20px;
    background-color: #F54300;
    cursor: pointer;
}
#Category .rw-lst-header-nav-second {
    width: 430px;
    height: 410px;
    left: 240px;
    background: #fff;
    top: 0;
    display: none;
}
#Category .second-category-item {
    width: 205px;
    height: 43px;
    border-bottom: 1px dashed #EBEBEB;
    margin-left: 5px;
    color: #666;
}
/* 导航结束 */