<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>商品分类页</title>
    <!-- 公共样式 -->
    <link rel="stylesheet" href="../../assets/css/Custom/base.css">
    <!-- 初始化样式 -->
    <link rel="stylesheet" href="../../assets/css/Custom/reset.css">
    <!-- H-ui 插件 -->
    <link rel="stylesheet" href="../../assets/css/library/H-ui.css">
    <!-- 外链 css -->
    <link rel="stylesheet" href="./Category.css">
    <!-- 外链头部 -->
    <script src="../../public/hade/hade.js"></script>
</head>
<body>
    <div id="Category">
        <!-- 3级导航开始 -->
        <div class="rw-lst-header-nav container">
                <div class="rw-lst-header-nav-header t-c-f relative">
                    <span class="rw-lst-header-nav-header-text">零售进货</span>
                    <!-- 1级菜单 -->
                    <div class="rw-lst-header-nav-fixed-header absolute">
                        <ul class="rw-lst-header-nav-first relative">
                            <li class="first-item">
                                <span class="f14">运动鞋</span>
                                <!-- 二级菜单 -->
                                <div class="absolute rw-lst-header-nav-second">
                                    <ul class="cl">
                                        <li class="f-l second-category-item">
                                            <a href="">你好</a>
                                        </li>
                                        <li class="f-l second-category-item">
                                            <a href="">你好</a>
                                        </li>
                                        <li class="f-l second-category-item">
                                            <a href="">你好</a>
                                        </li>
                                        <li class="f-l second-category-item">
                                            <a href="">你好</a>
                                        </li>
                                        <li class="f-l second-category-item">
                                            <a href="">你好</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
        </div>

    </div>
</body>
<!-- jqurey -->
<script src="../../assets/js/jquery.js"></script>
<!-- 外链 js -->
<script src="./Category.js"></script>

</html>