<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- 公共样式 -->
    <link rel="stylesheet" href="../../assets/css/Custom/base.css">
    <!-- 初始化样式 -->
    <link rel="stylesheet" href="../../assets/css/Custom/reset.css">
    <!-- H-ui 插件 -->
    <link rel="stylesheet" href="../../assets/css/library/H-ui.css">
    <link rel="stylesheet" href="./kkpager_orange.css">
    <!-- 外链 css -->
    <link rel="stylesheet" href="./index.css">
</head>
<body>



</body>
<!-- jquery 插件 -->
<script src="../../assets/js/jquery.js"></script>
<script src="./kkpager.min.js"></script>
<script src="./index.js"></script>
</html>